:root {
    --rosalya: #001369;
    --purple-rain: #9109c3;
}

body {
    font-family: Arial, sans-serif;
    background-color: #3a3a3a;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
    padding-bottom: 80px;
}

header {
    background-color: var(--purple-rain);
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

ul{
    list-style: none;
}

main {
    padding: 20px;
}

footer {
    background-color: var(--purple-rain);
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn {
    background-color: var(--purple-rain);
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: 0.3s ease;
}

.btn:hover {
    background-color: #55087e;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.formulario label {
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
}

.formulario input {
    width: 100%;
    height: 35px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.formulario input:focus {
    outline: none;
}

.formulario button {
    cursor: pointer;
    height: 30px;
    width: 75px;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
    background: var(--rosalya);
    border: none;
    border-radius: 5px;
    color: white;
}

.formulario button:hover {
    transform: scale(1.25) rotate(360deg);
}