body {
    font-family: Arial, sans-serif;
    background-color: #3a3a3a;
    margin: 0;
    padding: 0;
    color: #ffffff;
    text-align: center;
}
header {
    background-color: #9109c3;
    color: white;
    padding: 15px;
    text-align: center;
}
ul{
        list-style: none;
}
main {
    padding: 20px;
}
footer {
    background-color: #9109c3;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.btn {
    background-color: #9109c3;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border-radius: 2vw;
}
.btn:hover {
    background-color: #55087e;
}